body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f0f0f0;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
  color:green; 
  font-family:sans-serif;
  font-style: italic;
  font-weight: bold;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.cell {
  width: 100px;
  height: 100px;
  background:red ;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  cursor: pointer;
  border: 2px solid #333333;
}

.cell:hover {
  background: white;
}

.status {
  margin-top: 20px;
  font-size: 1.2rem;
}

.restart-btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
